body {
  text-align: center;
  background-color: #011f3f;
  font-family: "Press Start 2P", cursive;
}

#level-title {
  font-size: 2.5rem;
  margin: 3% 10%;
  line-height: 150%;
  color: #fef2bf;
}
/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

#s{
  text-decoration: underline;
}
.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 10px;
  display: inline-block;
  height: 130px;
  width: 130px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.blink {
  opacity: 0;
}
.link {
  font-size: 0.7rem;
}
